.github/actions/stage/node_modules
.github/actions/stage/*.js

pkg
src
*.tar.*
ungoogled-chromium-archlinux

.build/

.local-bin/

.local-lib/

.local-rustc

ninja-build.log

.makepkg-aarch64.conf

pkgdest/

build-summary.txt

CLAUDE.md
